<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ycwang.mylib1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="theme,label,icon">
        <activity android:name=".main.MyLib1Activity" />
        <activity android:name=".main.MyLibAActivity" />
        <activity android:name=".permissioncheck.PermissionCheckActivity" />

        <!-- WebUrl 跳转到本地页面的中转页 -->
        <activity android:name=".webUrl.URLReceiveActivity">
            <intent-filter>
                <data
                    android:host="ycwang"
                    android:scheme="guotongshiyou" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>


        </activity>
        <activity android:name=".webUrl.NoCanReceiveURLActivity" />
        <activity android:name=".webUrl.HasCanReceiveURLActivity" />
        <activity android:name=".webUrl.WebActivity" />
    </application>

</manifest>